{%- if product.metafields.custom.variant_swatches -%}
    <div class="cust-variant-swatches">
        {%- for swatch in product.metafields.custom.variant_swatches.value -%}
            {%- if swatch -%}
                <a href="{{ swatch.url }}" class="cust-swatch-item" title="{{ swatch.title }}">
                  {% if swatch.metafields.custom.swatch_featured_image %}
                    <img src="{{ swatch.metafields.custom.swatch_featured_image | img_url: 'master' }}" alt="{{ swatch.title }}">
                    {% else %}
                    <img src="{{ swatch.featured_image | img_url: 'master' }}" alt="{{ swatch.title }}">
                    {% else %}
                    {% endif %}
                </a>
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endif -%}
