{{ product.metafields.custom.variant_swatches.value }}
{%- if product.metafields.custom.variant_swatches.value -%}
    <div class="cust-variant-swatches">
        {%- for swatch in product.metafields.custom.variant_swatches.value -%}
            {%- assign swatch_product = swatch.product.value -%}
            {%- assign swatch_image = swatch.image -%}

            {%- if swatch_product and swatch_image -%}
                <a href="{{ swatch_product.url }}" class="cust-swatch-item">
                    <img src="{{ swatch_image | image_url: width: 100 }}" alt="{{ swatch_product.title }}">
                    <span>{{ swatch_product.title }}</span>
                </a>
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endif -%}
